.correctOptionResult,.incorrectOptionResult{

    margin: 16px
}
.page_number{
    display: block;
    text-align: center;
}
.resultOption{
    width: fit-content;
    padding: 15px;
    border-radius: 6px;
    background-color:#b3b3b31c;
    min-width:250px;
    font-weight: 500;

}

.resultOption span.icon{
    font-size: 20px;
    margin-right: 20px;
}
.question{
    border-style: dashed;
    border-color: #b3b3b31c;
    padding: 20px 0;
    border-width: 1px;
    border-right: none;
    border-left: none;
}
.incorrectOptionResult p{
    color: orangered;
}
.resultOption{
    border-width: 1px;
    border-style: solid;
}


.incorrectOptionResult p{
    color: orangered;
}
.incorrectOptionResult .resultOption{
    color: orangered;
    border-color: orangered;
    
}
.correctOptionResult p{
    color: #009789;
}
.correctOptionResult .resultOption{
    color: #009789;
    border-color: #009789;
    background-color: transparent;
}
.circle_number--correct{
    background: #009789;
}   

.buttons{
    display: flex;
    position: relative;
    justify-content: space-between;
}

.buttons{
    margin: 15px 0;
}

.next-btn, .score-btn{
    margin-left: auto;
}

.explicacion strong{
    font-weight: 500;
}