<div class="results_content">
    <h4 class="result_subtitle">Felicidades por haber completado la prueba!</h4>

    <div class="results_container">
        <div class="chart_results">

        </div>
        <div class="results_count">
            <div class="count_corrects">15 repuestas Correctas</div>
            <div class="count_incorrects">3 respuestas Incorrectas</div>
            <div class="count_no_resueltas">2 respuestas no Resueltas</div>
        </div>
    </div>

    <div class="reuslts_conclution">
        <h2>El procentaje mínimo de aporbación es del 70%</h2>
        <p>!Lo siento, tu resultado debe ser mejor, para poder ganar¡</p>
        <button mat-raised-button color="primary" type="button">QUIERO VER MIS RESPUESTAS</button>
        <button mat-raised-button color="primary" type="button">QUIERO ESTUDIAR UN POCO MÁS</button>
    </div>
    <div class="footer_buttons">
        <button mat-raised-button color="accent" type="button">IMPRIMIR</button>
        <button mat-raised-button color="primary" type="button">REPETIR TEST'S</button>
        <button mat-raised-button color="primary" type="button">ENVIAR EMAIL</button>
        <button mat-raised-button color="primary" type="button">COMPARTIR</button>
    </div>
</div>