<div class="results_content">
    <h4 class="result_subtitle">Felicidades por haber completado la prueba!</h4>

    <div class="results_container">
        <div id="myfirstchart" style="height: 250px;"></div>
        </div>
        <div class="results_count">
            <div class="count_corrects">{{correctAnswers}} repuestas Correctas</div>
            <div class="count_incorrects">{{incorrectAnswers}} respuestas Incorrectas</div>
            <div class="count_no_resueltas">{{noAnswers}} respuestas no Resueltas</div>
        </div>
    </div>

    <div class="reuslts_conclution">
        <h2>El procentaje mínimo de aporbación es del 70%</h2>
        <p>¡Lo siento, tu resultado debe ser mejor, para poder ganar!</p>
        <button mat-raised-button class="button-blue" type="button" (click)="goToResponses()">QUIERO VER MIS RESPUESTAS</button>
        <button mat-raised-button class="button-blue" type="button">QUIERO ESTUDIAR UN POCO MÁS</button>
    </div>
    <div class="footer_buttons">
        <button mat-raised-button class="button-blue"  type="button">IMPRIMIR</button>
        <button mat-raised-button class="button-blue" disabled type="button">REPETIR TEST'S</button>
        <button mat-raised-button class="button-blue" disabled type="button">ENVIAR EMAIL</button>
        <button mat-raised-button class="button-blue" disabled type="button">COMPARTIR</button>
    </div>
</div>