<h3>{{title}}</h3>

<div class="answers_container">
        <!-- <div *ngFor="let answer of answers">
            <mat-radio-button class="example-margin">{{answers}}</mat-radio-button>
        </div> -->
     
    <mat-radio-group >
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
    </mat-radio-group>
</div>