.container{
    height: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper{
    padding: 16px;
    background-color: white;
    width: 80%;
    height: 90%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header{
    background-color:  rgb(245, 245, 245);
    border-bottom: 3px solid #0092ed;
    padding: 16px;
}
header h1{
    text-align: center;
    margin: 0;
}
app-test{
    height: 100%;
}

