.test_title{

    text-align: center;
    margin-top: 20px;
    font-size: 1.8em;
    color: rgb(82, 82, 82);

}

.test_time_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.test_time_container mat-icon{

    display: flex;
    align-items: center;
    font-size: 2em;
    margin-right: 20px;
}

.progress_bar{
    margin: 16px 0 ;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}

.buttons{
    display: flex;
    position: relative;
    justify-content: center;
}
.buttons button:last-child{
    position: absolute;
    right: 0;
}

.questions_count {
    text-align: center;
}

app-score{
    height: 100%;
}

.test_content{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    height: 100%;
}

.answers_container{
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
}

.answers_container mat-radio-button{

    margin: 8px 0;
}
mat-spinner{

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}