

.test_time_container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}

.test_time_container mat-icon{

    display: flex;
    align-items: center;
    font-size: 2em;
    margin-right: 20px;
}

.progress_bar{
    margin: 16px 0 ;
}
.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

}

.buttons{
    display: flex;
    position: relative;
    justify-content: center;
}
.buttons button:last-child{
    position: absolute;
    right: 0;
}

.questions_count {
    text-align: center;
}

app-score{
    height: 100%;
}

.test_content{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    height: 100%;
}



.mat-progress-bar-fill::after{
    background-color: orangered !important;
}

.time{
    color: orangered
}

.test_time_container mat-icon{
    color: orangered;
}
app-results{
    flex-direction: column;
    display: flex;
    flex: 1;
    justify-content: space-between;
}