<div class="content" *ngIf="dataLoaded">
    <ng-container [ngSwitch]="action">
        <ng-container *ngSwitchCase="'test'">

            <h2 class="test_title">Test de {{title}}</h2>
            <app-score 
            *ngIf="questionPage  == questions.length" 
            [results]="selectedOptions" 
            [questions]="questions"
            (setAction)="setAction( $event )"
            (reloadTest)="resetTest( $event )"
            [aprovePercentage]="pointporcentaje"
            >
            </app-score>
            <div class="test_content" *ngIf="dataLoaded && questionPage  != questions.length">
                <div class="test_time_container" *ngIf="limitTime">
                    <svg fill="#0092ed" xmlns="http://www.w3.org/2000/svg" height="36" viewBox="0 0 24 24" width="36"><path d="M0 0h24v24H0z" fill="none"/><path d="M22 5.72l-4.6-3.86-1.29 1.53 4.6 3.86L22 5.72zM7.88 3.39L6.6 1.86 2 5.71l1.29 1.53 4.59-3.85zM12.5 8H11v6l4.75 2.85.75-1.23-4-2.37V8zM12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9c4.97 0 9-4.03 9-9s-4.03-9-9-9zm0 16c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>
                    <span>Tiempo restante <strong class="time">{{min}}:{{sec}}</strong></span>
                </div>
                <div class="questions_count">
                    <span>Pregunta {{questionPage + 1}} de {{questions.length}}</span>
                </div>
                <div class="progress_bar">
                    <mat-progress-bar mode="determinate" [value]="((questionPage ) / questions.length) * 100">
                    </mat-progress-bar>
                </div>
                <app-answers 
                [questionPage]="questionPage" 
                [title]="questions[questionPage].pregunta.title"
                [selectedOptions]="selectedOptions[questionPage]" 
                [answers]="questions[questionPage].respuestas"
                [img]="questions[questionPage].pregunta.img"
                [randomOrder] = "randomOrder"
                (onChange)="activateForm()"></app-answers>
                <div class="buttons">
                    <button mat-raised-button [disabled]="!validForm" (click)="onSubmit()"
                        class="button-blue">ENVIAR</button>
                    <button mat-raised-button [disabled]="validForm" (click)="skipQuestion()"
                        class="button-blue">SIGUIENTE</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'responses'">
            <app-results 
            [selectedOptions]="selectedOptions" 
            [questions]="questions"
            [title]="title"
            (scoreEmitter)="setAction( $event )"
            ></app-results>
        </ng-container>
    </ng-container>
</div>
<mat-spinner *ngIf="!dataLoaded"></mat-spinner>