<div class="content" *ngIf="dataLoaded">
    <ng-container [ngSwitch]="action">
        <ng-container *ngSwitchCase="'test'">

            <h2 class="test_title">Test de {{title}}</h2>
            <app-score *ngIf="questionPage  == questions.length" 
            [results]="selectedOptions" 
            [questions]="questions"
            (setAction)="setAction( $event )">
            </app-score>
            <div class="test_content" *ngIf="dataLoaded && questionPage  != questions.length">
                <div class="test_time_container" *ngIf="limitTime">
                    <mat-icon>timer</mat-icon>
                    <span>Tiempo restante <strong class="time">{{min}}:{{sec}}</strong></span>
                </div>
                <div class="questions_count">
                    <span>Pregunta {{questionPage + 1}} de {{questions.length}}</span>
                </div>
                <div class="progress_bar">
                    <mat-progress-bar mode="determinate" [value]="((questionPage ) / questions.length) * 100">
                    </mat-progress-bar>
                </div>
                <app-answers [questionPage]="questionPage" [title]="questions[questionPage].title"
                    [selectedOptions]="selectedOptions[questionPage]" [answers]="questions[questionPage].options"
                    (onChange)="activateForm()"></app-answers>
                <div class="buttons">
                    <button mat-raised-button [disabled]="!validForm" (click)="onSubmit()"
                        class="button-blue">ENVIAR</button>
                    <button mat-raised-button [disabled]="validForm" (click)="skipQuestion()"
                        class="button-blue">SIGUIENTE</button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="'responses'">
            <app-results [selectedOptions]="selectedOptions" 
            [questions]="questions"
            [title]="title"></app-results>
        </ng-container>
    </ng-container>
    <mat-spinner *ngIf="!dataLoaded"></mat-spinner>
</div>