<div class="circle_number">
    {{questionPage + 1}}
</div>
<div class="question_title">
    <h3 [innerHTML]="title"></h3>
</div>
<div class="question_img_container">
    <img *ngIf="!img.includes('placeholder-image')" [src]="img" alt="">
</div>
<div class="answers_container">
    <mat-radio-group [(ngModel)]="selectedOptions.selected" (change)="change()">
        <ng-container *ngFor="let option of answers; index as i">
            <mat-radio-button class="example-radio-button" 
                *ngIf="option.texto"
                [value]="i" >
                <span [innerHTML]="option.texto"></span>
            </mat-radio-button>
            <div *ngIf="!option.img.includes('placeholder-image') && option.img" class="img_answer_container">
                <img [src]="option.img" alt="">
            </div>
        </ng-container>
    </mat-radio-group>
</div>